<!--Page Header-->
<div class= "container w3-border-bottom w3-border-gray">
    <div class="row">
        <div class="col-lg-12">
            <p class="w3-xxlarge w3-text-white"><b>About</b></p>
        </div>
    </div>
</div>
<br>

<!--About content area-->
<p class="w3-text-white w3-large">
     <b>
         Loc8r was created to help people find places to sit down and get a
        bit of work done. 
     </b>
</p>

<p class="w3-text-white w3-large">
    <b>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur a erat nam at lectus urna duis convallis. 
    Cras semper auctor neque vitae tempus quam pellentesque nec nam. Convallis convallis tellus id interdum velit laoreet id donec. Nisi lacus sed viverra tellus in hac habitasse. Integer malesuada nunc vel risus commodo viverra maecenas accumsan lacus. Tortor consequat id porta nibh venenatis cras sed. In hac habitasse platea dictumst quisque sagittis purus. Est ullamcorper eget nulla facilisi etiam dignissim diam quis. 
    Risus commodo viverra maecenas accumsan lacus vel facilisis volutpat est. 
    Penatibus et magnis dis parturient. Facilisis magna etiam tempor orci eu lobortis elementum nibh. Augue interdum velit euismod in. Euismod quis viverra nibh cras pulvinar.

    </b>
</p>