<!--Page Header-->
<div class= "container w3-border-bottom w3-border-gray">
    <div class="row">
        <div class="col-lg-12">
            <p class="w3-xxlarge w3-text-white"><b>Starcups</b></p>
        </div>
    </div>
</div>
<br>
<!--Left Sidebar-->
<div class="row">
    <div class="col-xs-12 col-md-9">
        <div class="row">
            <div class="col-xs-12 col-sm-6 w3-text-white">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <br>
                <br>
                <p><i>125 High Street, Reading, RG6 1PS</i></p>

                <!--Opening Hours Card-->
                <div class="w3-card-2 w3-text-white w3-border">
                    <div class="w3-container w3-red w3-center">
                        <p class="w3-xlarge" style="padding-top:10px;"><b>Opening Hours</b></p>
                    </div>
                    <div class="w3-container w3-blue">
                        <p class="w3-larger" style="padding-top:10px;"><i> Monday - Friday : 7:00am - 7:00pm </i></p>
                        <p class="w3-larger" style="padding-top:10px;"><i> Saturday : 8:00am - 5:00pm </i></p>
                        <p class="w3-larger" style="padding-top:10px;"><i> Sunday: closed </i></p>
                    </div>
                </div>
                <br>
                <!--Facilities Card-->
                 <div class="w3-card-2 w3-text-white w3-border">
                    <div class="w3-container w3-red w3-center">
                        <p class="w3-xlarge" style="padding-top:10px;"><b>Facilities</b></p>
                    </div>
                    <div class="w3-container w3-blue">
                        <p style="padding-top: 25px;">
                            <span class="w3-tag w3-small w3-yellow w3-text-dark-gray"><b>Fast Food</b></span>
                            <span class="w3-tag w3-small w3-yellow w3-text-dark-gray"><b>Hot Chocolate</b></span>
                            <span class="w3-tag w3-small w3-yellow w3-text-dark-gray"><b>Premium wifi</b></span>
                        </p>
                    </div>
                </div>                
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="w3-card-2 w3-text-white w3-border w3-border-gray">
                    <div class="w3-container w3-red">
                        <p class="w3-xlarge w3-center" style="padding-top:8px"><b>Location Map</b></p>
                    </div>
                    <div class="w3-container w3-padding w3-center">
                        <img src="images/images1.jpeg" alt="image" class="w3-round" width="300px;" height="300px;">
                    </div>
                </div>
            </div>
        </div>
        <br>


        <!--Customer Review Card-->
        <div class="w3-card-2 w3-text-white w3-border">
            <div class="w3-container w3-red w3-center">
                <p class="w3-xlarge" style="padding-top:10px;"><b>Customer Review</b>
                    <a href="/location/review/new" class="w3-btn w3-gray w3-large w3-text-white w3-round"><b>Add Review</b></a>
                </p>
            </div>
            <!--1st Costumer Review-->
            <div class="w3-container w3-dark-blue w3-padding">
                <p>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <b class="w3-xlarge" style = "padding-left:8px;">Simon Holmes</b>
                    <i class="w3-large" style = "padding-left:8px;">9 July 2020</i>
                </p>
            </div>
            <div class="w3-container w3-blue w3-padding-large">
                <p>What a great place to work in.Excellent wifi!</p>
            </div>
            <!--2nd Customer Review-->
              <div class="w3-container w3-dark-blue w3-padding">
                <p>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <b class="w3-xlarge" style = "padding-left:8px;">Charles Dickens</b>
                    <i class="w3-large" style = "padding-left:8px;">10 August 2020</i>
                </p>
            </div>
            <div class="w3-container w3-blue w3-padding-large">
                <p>Place is ok.Need to work on ambience</p>
            </div>
        </div>
    </div>

    <!--Right Side Bar-->
    <div class ="col-xs-12 col-md-3">
        <p class="w3-xlarge w3-text-white"><b> Simon's cafe is on Loc8r because it has accessible wifi and space
            to sit down with your laptop and get some work done.</b>
        </p>
        <p class="w3-text w3-text-white"><i>If you've been and you like it - or if you don't - please leave a
            review to help other people just like you.</i>
        </p>
    </div>
</div>
